@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: Nunito, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: white;
}
.header__logo,
.header__search {
  margin: 20px;
}

.right-side__search {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 20px;
  padding: 0 10px;
}
#search {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.search-btn {
  border: none;
  background-color: white;
  cursor: pointer;
}

nav {
  margin: 20px;
}
.category {
  display: flex;
  justify-content: space-between;
}
.category__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 80px;
  cursor: pointer;
  padding: 10px;
  border: 1px black solid;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
}

.movieItem {
  width: 240px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  border: 1px solid black;
}

.movieItem:hover,
.category__item:hover {
  border: 1px solid greenyellow;
  border-radius: 10px;
  transition: 0.2s;
}
.movieItem img {
  width: 100%;
  border-radius: 10px;
}

.movieItemInfo {
  padding: 10px;
}
.movie__title {
  font-size: 16px;
  color: white;
}
.movie__genre {
  font-size: 14px;
  color: greenyellow;
}
.movie__year {
  font-size: 14px;
  color: orange;
}
.movie__average {
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 7, 7, 0.534);
  font-size: 15px;
  color: rgb(255, 255, 255);
}
